# requirements.txt

# PostgreSQL adapter for Python Neon
psycopg2-binary

# Load environment variables from .env files
python-dotenv

# ODBC adapter for Python MS SQL Server
pyodbc

# Jupyter Notebook support
ipykernel 

# Data visualization
matplotlib

# Data manipulation and analysis
pandas